@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 40% 98%;
  --foreground: 210 40% 12%;

  --card: 0 0% 100%;
  --card-foreground: 210 40% 12%;

  --popover: 0 0% 100%;
  --popover-foreground: 210 40% 12%;

  --primary: 212 97% 43%;
  --primary-foreground: 0 0% 100%;

  --secondary: 210 20% 95%;
  --secondary-foreground: 210 40% 25%;

  --muted: 210 20% 96%;
  --muted-foreground: 210 15% 35%;

  --accent: 43 96% 56%;
  --accent-foreground: 210 40% 12%;

  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;

  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 212 97% 43%;
  --radius: 0.75rem;
}

.dark {
  --background: 216 22% 8%;
  --foreground: 0 0% 98%;
  --card: 222 21% 13%;
  --card-foreground: 0 0% 98%;
  --popover: 222 21% 13%;
  --popover-foreground: 0 0% 98%;
  --primary: 198 94% 60%;
  --primary-foreground: 0 0% 10%;
  --secondary: 217 19% 18%;
  --secondary-foreground: 0 0% 98%;
  --muted: 217 19% 18%;
  --muted-foreground: 215 20% 65%;
  --accent: 43 96% 56%;
  --accent-foreground: 217 19% 18%;
  --destructive: 0 72% 51%;
  --destructive-foreground: 210 40% 98%;
  --border: 217 19% 18%;
  --input: 217 19% 18%;
  --ring: 198 94% 60%;
}

body {
  @apply bg-background text-foreground antialiased;
}
